#fan-reel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  vertical-align: top;
  max-width: 1280px;
  margin: 0 auto 50px;
  padding: 0 4%;
  font-family: Helvetica,sans-serif;
  font-size: 0.7em;
  text-align: center;
}

.thumbnail {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  width: 16.6666667%;
  height: auto;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1025px) {
  .thumbnail {
    width: 20%;
  }
}

@media only screen and (max-width: 769px) {
  .thumbnail {
    width: 25%;
  }
}

@media only screen and (max-width: 480px) {
  .thumbnail {
    width: 49.25%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.hover-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,.85);
  height: 62px;
  text-align: center;
}

.no-display {
  display: none;
}

.display {
  display: block;
}

/*.viewport-inner {
  pointer-events: none;
  position : absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 998;
  -webkit-box-shadow: inset -30px 0 28px -12px #fff;
  box-shadow: inset -30px 0 28px -12px #fff;
}

.outer-modal {
  padding-top: 40px;
  white-space: nowrap;
  width: auto;
  height: 280px;
  position: relative;
  top: 0;
  border: 2px solid #555;
}*/

.triangle-overlay {
  position: absolute;
  bottom: 0;
  z-index: 999999;
}

.triangle-overlay img {
  width: 20%;
  height: 15px;
}

