#fan-reel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  vertical-align: top;
  max-width: 1280px;
  margin: 0 auto 50px;
  padding: 0 4%;
  font-family: Helvetica,sans-serif;
  font-size: 0.7em;
  text-align: center;
}

.thumbnail {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  width: 16.6666667%;
  height: auto;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1025px) {
  .thumbnail {
    width: 20%;
  }
}

@media only screen and (max-width: 769px) {
  .thumbnail {
    width: 25%;
  }
}

@media only screen and (max-width: 480px) {
  .thumbnail {
    width: 49.25%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.hover-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,.85);
  height: 62px;
  text-align: center;
}

.no-display {
  display: none;
}

.display {
  display: block;
}

.outer-modal {
  background: none repeat scroll 0 0 #fff;
  border-radius: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.92);
  height: 540px;
  left: 50%;
  margin: 0 auto auto -385px;
  opacity: 0;
  padding: 28px;
  position: relative;
  top: -10%;
  transition: opacity .3s linear 0,top .3s ease-out 0;
  width: 770px;
  z-index: 1001;
  border: 1px solid #555;
}

.triangle-overlay {
  position: absolute;
  bottom: 0;
  z-index: 999999;
}

.triangle-overlay img {
  width: 20%;
  height: 15px;
}

